[Desktop Entry]
Type=Link
Name=Geolocation
Name[fr]=Géolocalisation
Comment=Geolocation information.
Comment[fr]=Informations de géolocalisation.
Comment[it]=Informazioni sulla geolocalizzazione.
Icon=e-module-geolocation
X-Enlightenment-ModuleType=utils
