*.o
*.a
*.la
*.lo
Makefile
Makefile.in
.deps
.libs
*.gmo
*~
*.cfg
*.desktop
*.dirstamp
default.edj
/ABOUT-NLS
/aclocal.m4
/autom4te.cache/
/compile
/config.cache
/config.cache-env
/config.guess
/config.h
/config.h.in
/config.log
/config.rpath
/config.status
/config.sub
/configure
/depcomp
/enlightenment.pc
/enlightenment.spec
/install-sh
/libtool
/ltmain.sh
/missing
/mkinstalldirs
/stamp-h1
