[Desktop Entry]
Encoding=UTF-8
Type=Link
Name=Default
Name[ab]=默认
Name[ca]=Predeterminat
Name[cs]=Výchozí
Name[de]=Vorgabe
Name[el]=Προκαθορισμένο
Name[eo]=Pravaloroj
Name[es]=Predefinido
Name[fi]=Oletus
Name[fr]=Prédéfini
Name[gl]=Predefinido
Name[hu]=Alapértelmezett
Name[it]=Predefinito
Name[ja]=デフォルト
Name[ko]=기본
Name[lt]=Įprastas
Name[ms]=Lalai
Name[pl]=Domyślne
Name[pt]=Predefinições
Name[ru]=Заново
Name[sr]=Подразумевано
Name[tr]=Öntanımlı
Name[zh_CN]=默认
Comment=Select this to begin the initial setup again.
Comment[ca]=Seleccioni aquí per carregar la configuració inicial de nou.
Comment[cs]=Vyberte pro znovuspuštění tohoto průvodce.
Comment[de]=Dieses auswählen, um mit der Ersteinrichtung erneut zu beginnen.
Comment[el]=Επιλέξτε αυτό για να ξεκινήσετε την αρχική ρύθμιση ξανά.
Comment[eo]=Elektu tion por restartigi la pravalorizan agordon.
Comment[es]=Seleccione esto para reestablecer la configuración inicial.
Comment[fi]=Valitse tämä käynnistääksesi alkuasetusvelhon.
Comment[fr]=Sélectionnez ceci pour retrouver la configuration par défaut et reprendre le paramétrage initial.
Comment[gl]=Seleccione isto para volverr á configuración inicial.
Comment[hu]=Válaszd ezt az alap beállítáok megismétléséhez.
Comment[it]=Selezionare questo per riprendere la configurazione iniziale.
Comment[ko]=초기 설정을 사용하려면 이것을 선택하세요.
Comment[ms]=Pilih ini untuk mulakan persediaan awalan lagi.
Comment[pt]=Escolha isto para executar novamente a configuração inicial
Comment[ru]=Выберите это для запуска инициализации настроек (сброс).
Comment[sr]=Изаберите ово да би поново подесили подразумеване поставке.
Comment[tr]=Açılış ayarlarına geri dönmek için bu profili seçin.
Comment[zh_CN]=点击这里重新进行初始化设置主题。
Icon=enlightenment-default
