[Desktop Entry]
Encoding=UTF-8
Type=Link
Name=Application Menu
Name[ca]=Menú d'Aplicacions
Name[de]=Anwendungsmenü
Name[eo]=Aplikaĵomenuo
Name[fi]=Sovellusvalikko
Name[fr]=Menu des applications
Name[gl]=Menú de aplicativos
Name[ja]=アプリケーションメニュー
Name[ko]=프로그램 메뉴
Name[lt]=Programų meniu
Name[ms]=Menu Aplikasi
Name[pl]=Menu programów
Name[ru]=Меню управления приложениями
Name[sr]=Изборник програма
Name[tr]=Uygulama Menüsü
Comment=Gadget that holds the menubar of the foreground application.
Comment[ca]=Giny que conté la barra de menú de les aplicacions executades en primer pla.
Comment[eo]=Akcesoraĵo kiu tenas la menuo-breton de la dialoga aplikaĵo.
Comment[fi]=Vempain joka sisältää valitun ikkunan valikkopalkin.
Comment[fr]=Gadget qui maintient la barre de menu de l'application d'arrière plan.
Comment[it]=Gadget che contiene la barra degli strumenti dell'applicazione in primo piano.
Comment[ms]=Gadjet yang memegang palang menu bagi aplikasi hadapan.
Comment[ru]=Гаджет отображающий меню активного приложения.
Comment[sr]=Справица која држи траку изборника покренутих програма.
Comment[tr]=Ön plandaki uygulamanın menü çubuğunu tutan araç.
Icon=e-module-appmenu
X-Enlightenment-ModuleType=utils
