[Desktop Entry]
Encoding=UTF-8
Type=Link
Name=Mobile
Name[ca]=Mòbil
Name[de]=Mobil
Name[el]=Κινητό
Name[eo]=Portebla
Name[es]=Móvil
Name[fi]=Mobiili
Name[fr]=Écran tactile
Name[gl]=Móbil
Name[ja]=モバイル
Name[ko]=터치스크린
Name[lt]=Mobiliesiems įrenginiams
Name[ms]=Bimbit
Name[pt]=Ecrã tátil
Name[ru]=Мобильные устройства
Name[sr]=Покретни
Name[tr]=Mobil
Comment=EXPERIMENTAL!<br>Configuration set up to work best with touchscreen<br>phones, tablets and similar devices.
Comment[ca]=EXPERIMENTAL!<br>Configuració preparada per funcionar millor amb telèfons de pantalla tàctil<br>,tablets i altres dispositius similars.
Comment[de]=Experimentell!<br>Konfiguration eingerichtet, um am besten mit Berührungsbildschirmen,<br>Handys, Tablets und ähnlichen Geräten zu arbeiten.
Comment[eo]=EKSPERIMENTA!<br>Agordoj kongruas plej kun tuŝekranaj telefonoj,<br> tabulkomputiloj aŭ similaj aparatoj.
Comment[es]=¡EXPERIMENTAL!<br>Configuración adaptada para el uso en móviles<br>de pantalla táctil, tablets y dispositivos similares.
Comment[fi]=KOKEELLINEN!<br>Nämä asetukset toimivat parhaiten kosketusnäyttöjen<br>puhelinten, tablettitietokoneiden ja vastaavien laitteiden kanssa.
Comment[fr]=EXPÉRIMENTAL !<br>Configuration adaptée aux écrans tactiles<br>des téléphones, tablettes et apparentés.
Comment[gl]=EXPERIMENTAL!<br>Configuración adaptada para o uso en móbiles<br>de pantalla táctil, tablets e dispositivos similares.
Comment[it]=SPERIMENTALE!<br>Configurazione adatta per l'uso in smartphone<br>con interfaccia tattile, tablets e similari.
Comment[ko]=실험 단계중!<br>터치스크린 기반의 휴대폰, 태블릿 등과 같은 장치에 맞는 설정.
Comment[ms]=EKSPERIMENTAL!<br>Persediaan konfigurasi untuk berfungsi baik dengan<br>telefon, tablet dan peranti sentuh skrin yang serupa dengannya.
Comment[pt]=EXPERIMENTAL!<br>Configuração de ecrãs táteis como os dos telefones, tablets e similares.
Comment[ru]=Экспериментально!<br>Конфигурация предназначенная специально для сенсорных<br>экранов телефонов, планшетов и прочих подобных устройств.
Comment[sr]=ПРОБНО!<br>Скуп нарочитих поставки за најбољи рад са екранима на дорир преносних!<br>телефона, електронских таблица и сличних уређаја.
Comment[tr]=DENEYSEL!<br>Dokunmatik ekranlar, telefon, tablet vb.aygıtlar ile en iyi çalışmayı <br> sağlamak için yapılandırma.
Icon=enlightenment-mobile
