[Desktop Entry]
Encoding=UTF-8
Type=Link
Name=Pager Plain
Name[ca]=Paginador Plain
Name[cs]=Přepínač ploch Plain
Name[de]=Pager Plain
Name[eo]=Tabulpaĝilo Plain
Name[es]=Paginador Plain
Name[fr]=Miniature des bureaux Plain
Name[gl]=Paxinador Plain
Name[hu]=Lapozó Plain
Name[it]=Pager (senza miniature)
Name[ms]=Penghalaman Plain
Name[pt]=Paginador Plain
Name[ru]=Простой пейджер
Name[sr]=Страничник Plain
Name[tr]=Sayfalayıcı Plain
Comment=Gadget to allow you to visualize your virtual desktops and the windows they contain.
Comment[ca]=Permet visualitzar els escriptoris virtuals i les finestres que contenen.
Comment[cs]=Gadget pro zobrazení/přepínání virtuálních ploch a oken, které obsahují.
Comment[de]=Visualisiert die virtuellen Desktops und die enthaltenen Fenster.
Comment[eo]=Vidigi siajn virtualajn labortablojn kaj ties fenestrojn.
Comment[es]=Dispositivo que permite visualizar los escritorios virtuales y las ventanas que contienen.
Comment[fr]=Visualise les bureaux virtuels et les fenêtres qu'ils contiennent.
Comment[gl]=Gadget que lle permite visualizar os escritorios virtuais e as xanelas que conteñen.
Comment[hu]=Ez a modul lehetővé teszi számunkra a látványos, virtuális munkaasztalok közötti váltást.
Comment[it]=Modulo che permette di visualizzare i desktop virtuali e le finestre che contengono.
Comment[ms]=Gadjet yang membolehkan anda visualkan desktop maya anda dan tetingkap didalamnya.
Comment[nl]=Programmaatje om uw virtuele bureaubladen te visualiseren en de vensters die ze bevatten.
Comment[pt]=Permite-lhe visualizar as áreas virtuais e as janelas que nelas existem
Comment[ru]=Гаджет для отображения виртуальных столов и содержащихся на них окон.
Comment[sr]=Справица која дочарава нестварне површи и прозоре које оне садрже.
Comment[tr]=Sanal masaüstlerini ve içerisindeki pencereleri görselleştirmenizi sağlayan araç.
Icon=e-module-pager-plain
X-Enlightenment-ModuleType=utils
