[Desktop Entry]
Encoding=UTF-8
Type=Link
Name=Tiling (Standard Enlightenment)
Comment=Tiling window management onfiguration for devices with keyboards and mice<br>like your average PC Desktop, Laptop or Netbook<br>with Enlightenment's traditional keyboard bindings<br>and mouse controls.<br>Default tiling bindings are: Win-key + Space, arrows, and left mouse button.<br>See the module settings for more information.
Icon=enlightenment-tiling
