[Desktop Entry]
Encoding=UTF-8
Type=Link
Name=Clipboard
Name[Name]=Clipboard
Comment=Clipboard manager gadget for the Moksha/E desktop
Icon=e-module-clipboard
X-Enlightenment-ModuleType=utils
