[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Enlightenment File Manager
Name[ca]=Gestor d'arxius Enlightenment
Name[de]=Enlightenment-Dateiverwaltung
Name[eo]=Dosieradministrilo de Enlightenment
Name[es]=Administrador de archivos de Enlightenment
Name[fi]=Enlightenment-tiedostonhallinta
Name[fr]=Gestionnaire de fichiers d'Enlightenment
Name[gl]=Xestor de ficheiros de Enlightenment
Name[it]=Filemanager di Enlightenment
Name[ja]=Enlightenment ファイルマネージャー
Name[ko]=Enlightenment 파일 관리자
Name[lt]=Enlightenment Failų naršyklė
Name[ms]=Pengurus Fail Enlightenment
Name[pl]=Menedżer plików Enlightenment
Name[pt]=Gestor de ficheiros do Enlightenment
Name[ru]=Файловый менеджер для Enlightenment
Name[sr]=Управник датотека Просвећења
Name[tr]=Enlightenment Dosya Yöneticisi
Comment=File Manager provided by Enlightenment
Comment[ca]=Gestor d'arxius proveït per Enlightenment
Comment[de]=Die Dateiverwaltung bereitgestellt von Enlightenment
Comment[eo]=La dosieradministrilo provizita de Enlightenment
Comment[es]=El administrador de ficheros proporcionado por Enlightenment
Comment[fi]=Enlightenmentin mukana tuleva tiedostohallintasovellus
Comment[fr]=Gestionnaire de fichiers fourni par Enlightenment
Comment[gl]=O xestor de ficheiros fornecido por Enlightenment
Comment[it]=Il filemanager fornito da Enlightenment
Comment[ja]=Enlightenment によるファイルマネージャー
Comment[ko]=Enlightenment에서 제공하는 파일 관리자입니다
Comment[lt]=Enlightenment failų naršyklė
Comment[ms]=Pengurus Fail yang disediakan oleh Enlightenment
Comment[pl]=Menedżer plików dostarczony przez Enlightenment
Comment[pt]=Gestor de ficheiros para o Enlightenment
Comment[ru]=Файловый менеджер встроенный в Enlightenment
Comment[sr]=Управник датотека Просвећења
Comment[tr]=Enlightenment tarafından sağlanan dosya yöneticisi
Icon=system-file-manager
OnlyShowIn=Enlightenment;
Exec=enlightenment_filemanager %U
Terminal=false
MimeType=inode/directory;
Categories=FileManager;Utility;Core;System;FileTools;
StartupNotify=false
StartupWMClass=e_fm
