[Desktop Entry]
Encoding=UTF-8
Type=Link
Name=Computer (Standard Enlightenment)
Name[ca]=Ordinador (Enlightenment estàndard)
Name[de]=Rechner (Vorgabe Enlightenment)
Name[el]=Υπολογιστής (Τυπικό Περιβάλλον Enlightenment)
Name[eo]=Komputilo (kutima Enlightenment)
Name[es]=Ordenador (Enlightenment estándar)
Name[fi]=Tietokone (Vakio Enlightenment)
Name[fr]=Ordinateur (Enlightenment standard)
Name[gl]=Ordenador (Enlightenment estándar)
Name[it]=Computer (Enlightenment standard)
Name[ja]=コンピュータ (標準の Enlightenment)
Name[ko]=컴퓨터 (표준 인라이튼먼트)
Name[lt]=Kompiuteriams (įprastas Enlightenment)
Name[ms]=Komputer (Enlightenment Piawai)
Name[nl]=Computer (standaard-Enlightenment)
Name[pt]=Computador (Enlightenment padrão)
Name[ru]=Компьютер (Стандартный Enlightenment)
Name[sr]=Рачунар (уобичајено Просвећење)
Name[tr]=Bilgisayar (Standart Enlightenment)
Comment=Configuration for devices with keyboards and mice<br>like your average PC Desktop, Laptop or Netbook<br>with Enlightenment's traditional keyboard bindings<br>and mouse controls.
Comment[ca]=Configuració per dispositius amb teclats i ratolins <br>com el seu PC d'escriptori, ordinador portàtil o netbook<br>amb les associacions de tecles típiques d'Enlightenment<br>i controls de ratolí.
Comment[de]=Konfiguration für Geräte mit Tastaturen und Mäusen<br>wie Ihre durchschnittlichen PC-Schreibtisch, Laptop<br>oder Netbook mit Enlightenments traditionellen<br>Tastenbelegungen und Maussteuerungen.
Comment[eo]=Agordoj por aparatoj kun klavaro kaj muso<br>samkiel via kutima PC aŭ portebla komputilo<br>kun kutima klavaraj bindaĵoj de Enlightenment kaj musaj kontroloj.
Comment[es]=Configuración para dispositivos con teclado y<br>ratón, como puede ser un PC de escritorio, portátil o Netbook,<br>con las asociaciones de teclado y ratón<br>tradicionales de Enlightenment.
Comment[fi]=Asetukset laitteille joissa on näppäimistö ja hiiri<br>kuten esimerkiksi tavallinen pöytä-pc tai kannettava tietokone,<br>perinteisillä Enlightenmentin näppäimistön toimintosidoksilla<br>ja hiiren toiminnoilla.
Comment[fr]=Configuration pour les machines avec clavier et<br>souris comme les PC de bureau et les portables,<br>offrant raccourcis et contrôles traditionnels.
Comment[gl]=Configuración para dispositivos con teclado e<br>rato, tal como un PC de escritorio, portátil ou Netbook,<br>coas asociacións de teclado e rato<br>tradicionais de Enlightenment.
Comment[it]=Configurazione per macchine con tastiera e mouse,<br>come i normali computer fissi e portatili,<br>con le tradizionali associazioni di tasti e controlli<br>del mouse.
Comment[ko]=일반적인 PC 데스크톱, 노트북, 넷북과 같이 키보드와 마우스로 구성된 장치를 위한 설정.<br>인라이튼먼트의 전통적인 단축키 및 마우스 제어 방식 사용.
Comment[ms]=Konfigur untuk peranti dengan papan kekunci dan tetikus<br>seperti Komputer Desktop, Riba atau Netbook anda<br>dengan pengikatan papan kekunci dan kawalan tetikus tradisional Enlightenments<br>.
Comment[pt]=Configuração de dispositivos com teclados e ratos como os computadores de secretária ou portáteis, com os atalhos padrão do Enlightenment.
Comment[ru]=Конфигурация для устройств с клавиатурой и мышью,<br>таких как обычный компьютер или ноутбук,<br>с традиционными для Enlightenment'а сочетаниями<br>клавиш и управлением мышью.
Comment[sr]=Поставке за уређаје са тастатуром и мишем<br>попут уобичајених рачунара радни станица, преклопних рачунара<br>са уобичајеним пречицама тастатуре<br>и управљањем мишем.
Comment[tr]=Ortalama Pc Masaüstü, Dizüstü ve Netbook kullanımı için Enlightenment'in klavye bağlayıcıları ve fare kontrolleri ile aygıtları yapılandırma.
Icon=enlightenment-standard
