[Desktop Entry]
Type=Link
Name=System Controls
Name[ca]=Controls del sistema
Name[cs]=Ovládací prvky
Name[de]=Systemsteuerungen
Name[eo]=Kontroloj de sistemo
Name[es]=Controles del sistema
Name[fi]=Järjestelmän hallinta
Name[fr]=Commandes système
Name[gl]=Controis do sistema
Name[hu]=Rendszer felügyelő
Name[it]=Syscon
Name[ja]=システムコントロール
Name[ko]=시스템 제어
Name[lt]=Sistemos valdikliai
Name[ms]=Kawalan Sistem
Name[pl]=Kontrolki systemu
Name[pt]=Controlos do sistema
Name[ru]=Управление системой
Name[sr]=Управљање системом
Name[tr]=Sistem Kontrolleri
Comment=This module provides a unified popup dialog for all the system actions in Enlightenment.
Comment[ca]=Aquest mòdul proporciona una finestra emergent unificada per a totes les accions del sistema a l'Enlightenment.
Comment[cs]=Poskytuje dialog pro všechny systémové akce v Enlightenmentu.
Comment[de]=Dieses Modul stellt einen vereinheitlichten Benachrichtigungsdialog, für alle Systemaktionen in Enlightenment, zur Verfügung.
Comment[eo]=Tiu modulo vidigas ŝprucfenestron kunigantan ĉiujn sistemajn agadojn  en Enlightenment.
Comment[es]=Este módulo proporciona una ventana emergente unificada para todos las acciones del sistema en Enlightenment.
Comment[fi]=Tämä moduuli lisää käytettäväksi yhdistetyn ponnahdusikkunan kaikille Enlightenmentin järjestelmätoiminnoille.
Comment[fr]=Fournit une fenêtre de dialogue pop-up regroupant toutes les actions système dans Enlightenment.
Comment[gl]=Este módulo proporciona unha alerta unificada para tódalas accións do sistema en Enlightenment.
Comment[hu]=Ez a modul egy felugró ablakocskát biztosít, amely segítségével az Enlightenment folyamatait kísérhetjük figyelemmel
Comment[it]=Questo modulo fornisce una finestra di dialogo popup unificata per tutte le azioni di sistema in Enlightenment.
Comment[ms]=Modul ini menyediakan dialog timbul tersepadu untuk semua tindakan sistem dalam Enlightenment.
Comment[pt]=Disponibiliza o acesso ao sistema de ações do Enlightenment
Comment[ru]=Этот модуль обеспечивает единое диалоговое окно для всех системных действий в Enlightenment.
Comment[sr]=Ова јединица омогућава јединствени искачући прозор за све системске радње у Просвећењу
Comment[tr]=Tüm sistem eylemleri için özelleştirilmiş açılır pencere diyaloğu sunan Enlightenment modülü.
Icon=e-module-syscon
X-Enlightenment-ModuleType=core
