[Desktop Entry]
Type=Link
Name=Bluez5
Name[ca]=Bluez5
Name[de]=Bluez5
Name[fi]=Bluez5
Name[gl]=Bluez5
Name[ja]=Bluez5
Name[ms]=Bluez5
Name[sr]=Блуез5
Name[tr]=Bluetooth
Comment=Bluetooth control Gadget.
Comment[fr]=Gadget de configuration Bluetooth.
Comment[it]=Gadget per il controllo del Bluetooth.
Comment[pt]=Gadget de controlo Bluetooth.
Icon=e-module-bluez5
X-Enlightenment-ModuleType=utils
