[Desktop Entry]
Encoding=UTF-8
Type=Link
Name=Temp
Name[eo]=Dumtempaj
Name[fr]=Temporaires
Name[gl]=Temporais
Name[ms]=Sementara
Name[pt]=Temporários
Name[ru]=Временный каталог
Name[sr]=Привременo
Name[tr]=Çöp
Comment=Temporary files
Comment[de]=Temporäre Dateien
Comment[eo]=Dumtempaj dosieroj
Comment[es]=Archivos temporales
Comment[fr]=Les fichiers temporaires
Comment[gl]=Ficheiros temporais
Comment[it]=File temporanei
Comment[ms]=Fail sementara
Comment[pt]=Ficheiros temporários
Comment[ru]=Временные файлы
Comment[sr]=Привремене датотеке
Comment[tr]=Geçici dosyalar
Icon=user-temp
NotShowIn=GNOME;KDE;LXDE;ROX;XFCE;
URL=file:/tmp
X-Enlightenment-Type=Mount
