[Desktop Entry]
Type=Link
Name=Gesture Recognition
Comment=Gesture recognition using libinput
Icon=e-module-gesture_recognition
X-Enlightenment-ModuleType=utils
