[Desktop Entry]
Type=Link
Name=Gesture Recognition
Name[fr]=Reconnaissance des gestes
Name[it]=Riconoscimento gesture
Comment=Gesture recognition using libinput.
Comment[fr]=Reconnaissance des gestes utilisant libinput.
Comment[it]=Riconoscimento delle gesture per mezzo di libinput.
Icon=e-module-gesture_recognition
X-Enlightenment-ModuleType=utils
