[Desktop Entry]
Encoding=UTF-8
Type=Link
Name=Teamwork
Name[ca]=Treball en equip
Name[fi]=Tiimityö
Name[gl]=Traballo en equipo
Name[ms]=Teamwork
Name[pl]=Praca zespołowa
Name[ru]=Командная работа
Name[sr]=Тимски рад
Name[tr]=Takı Çalışması
Comment=Enlightenment Is A Team Player
Comment[ca]=Enlightenment és un jugador d'equip
Comment[de]=Enlightenment ist ein Mannschaftsspieler
Comment[eo]=Enlightenment estas skipa ludanto
Comment[fi]=Enlightenment on tiimipelaaja
Comment[it]=Enlightenment è giocatore in un team
Comment[ms]=Enlightenment Adalah Pemain Pasukan
Comment[ru]=Enlightenment — командный игрок
Comment[sr]=Просвећење је тимски играч
Comment[tr]=Enlightenment bir takım oyunu
Icon=e-module-teamwork
X-Enlightenment-ModuleType=core
