[Desktop Entry]
Type=Link
Name=E-convertible
GenericName=E-convertible
Comment=Helps to manage screen rotation based on accelerometer
Comment[it]=Aiuta a gestire la rotazione dello schermo basandosi sui dati dell'accelerometro
Icon=convertible-icon
X-Enlightenment-ModuleType=system
